[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tqdm = "*"
torch = ">1.8"
transformers = "*"
datasets = "*"
sentencepiece = "*"
accelerate = ">=0.21.0"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "*"
